# Python
__pycache__/
*.py[cod]

# Virtual environment
backend/venv/

# Environment variables / secrets
.env
.env.*

# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
# Local database
*.db